<% poll ||= nil %>
<% admin ||= false %>
<% if poll %>
  <div style="margin-top: 2em; background-color: #dddddd; float: left; clear: both; padding: 1em;">
    <% form_tag({:controller => :polls, :action => :delete_votes, :key => @poll.admin_key}) do %>
      <b>Votes:</b>
      <table style="margin-top: 0.5em;">
        <tr>
          <% if admin %>
            <th>&nbsp;</th>
          <% end %>
          <th>Name</th>
          <% @poll.candidates.each do |candidate| %>
            <th><%=candidate%></th>
          <% end %>
        </tr>
        <% @poll.votes.each do |vote| %>
        <tr>
          <% if admin %>
            <td><%= check_box_tag("vote[]", vote.id) %></td>
          <% end %>
          <td><%=vote.name%></td>
          <% vote.ratings.each do |rating| %>
            <td style="background-color: <%=range_color_for(rating)%>;"><%=rating%></td>
          <% end %>
        </tr>
        <% end %>
      </table>
      <% if admin %>
        <%= submit_tag "Delete Votes" %>
      <% end %>
    <% end %>
  </div>
<% end %>
