<p>
  <b>Admin Link (save this, you'll need it!):</b><br>
  <% admin_params = {:only_path => false, :action => :admin, :key => @poll.admin_key} %>
  <%= link_to h(url_for admin_params), admin_params %>
</p>

<p>
  <b>Public Link (send for voting):</b><br>
  <% public_params = {:only_path => false, :action => :vote, :key => @poll.key} %>
  <%= link_to h(url_for public_params), public_params %>
</p>

<p>
  <b>Name:</b>
  <%=h @poll.name %>
</p>

<p>
  <b>Instructions:</b><br>
  <% @poll.instructions.each_line do |line| %>
    <%=h line %><br>
  <% end %>
</p>

<% results = @poll.results %>
<% if results %>
  <%= render :partial => "summary", :locals => {:results => results} %>
  <%= render :partial => "results", :locals => {:results => results} %>
  <%= render :partial => "voting_matrix", :locals => {:poll => @poll, :admin => true} %>
<% end %>
