<h1>Admin Page</h1>
<p>
  Bookmark this page.  You'll need to return here in order to review results,
  and to edit the poll or remove extra votes.
</p>

<p>
  <%= link_to "Edit Poll", :action => :edit, :key => @poll.admin_key %>
</p>

<p>
  <b>Voting Link (email this link to your voters):</b><br>
  <% public_params = {:only_path => false, :action => :vote, :key => @poll.key} %>
  <%= link_to h(url_for public_params), public_params %>
</p>

<p>
  <b>Results Link (email this link after poll ends):</b><br>
  <% public_params = {:only_path => false, :action => :show, :key => @poll.key} %>
  <%= link_to h(url_for public_params), public_params %>
</p>
<br><br>
<p>
  <b>Name:</b>
  <%=h @poll.name %>
</p>

<p>
  <b>Instructions:</b><br>
  <% @poll.instructions.each_line do |line| %>
    <%=h line %><br>
  <% end %>
</p>

<% results = @poll.results %>
<% if results %>
  <%= render :partial => "summary", :locals => {:results => results} %>
  <%= render :partial => "results", :locals => {:results => results} %>
  <%= render :partial => "voting_matrix", :locals => {:poll => @poll, :admin => true} %>
<% end %>
