<p>
  <b>Name:</b>
  <%=h @poll.name %>
</p>

<p>
  <b>Instructions:</b><br>
  <% @poll.instructions.each_line do |line| %>
    <%=h line %><br>
  <% end %>
</p>

<% results = @poll.results %>
<% if results %>
  <%= render :partial => "summary", :locals => {:results => results} %>
  <%= render :partial => "results", :locals => {:results => results} %>
  <%= render :partial => "voting_matrix", :locals => {:poll => @poll} %>
<% end %>
