<p>
  <b>Name:</b>
  <%=h @poll.name %>
</p>

<p>
  <b>Instructions:</b><br>
  <% @poll.instructions.each_line do |line| %>
    <%=h line %><br>
  <% end %>
</p>

<script language="javascript">
  sliderObject = [];
  valueBox = [];
  voteInput = [];
  noOpinion = [];
</script>

<p style="margin-top: 2em;">
  <b>Candidates:</b>
  <% form_tag({:controller => :polls, :action => :record_vote, :key => @poll.key}, {:onsubmit => "return validateForm()"}) do %>
    <table>
    <% @poll.candidates.each_with_index do |candidate, i| %>
      <tr>
        <td>
          <%=h candidate %>
        </td>
        <td id="value<%=i%>" style="padding: 5px; border: 2px solid black; width: 1em;">
          X
        </td>
        <td>
          <%= hidden_field_tag "vote#{i}", 50 %>
          <div id="slider<%= i %>" style="background: #aaaaaa; width: 200px; height: 25px;" onMouseDown="if (noOpinion[<%=i%>].checked) noOpinion[<%=i%>].click();">
            <div id="handle<%= i %>" style="background: green; width: 10px; height: 25px;" onMouseDown="if (noOpinion[<%=i%>].checked) noOpinion[<%=i%>].click();"></div>
          </div>
        </td>
        <td>
          <%= check_box_tag "no_opinion#{i}", nil, true, :onClick => "handleCheckboxClick(#{i}, this.checked);" %> no opinion
          <script language="javascript">
            valueBox[<%=i%>] = $('value<%=i%>')
            voteInput[<%=i%>] = $('vote<%=i%>')
            noOpinion[<%=i%>] = $('no_opinion<%=i%>')
            sliderObject[<%=i%>] = new Control.Slider("handle<%= i %>", "slider<%=i%>", {range:$R(0,99), sliderValue:voteInput[<%=i%>].value, onChange:function(v){setValue(voteInput[<%=i%>], valueBox[<%=i%>], v)}, onSlide:function(v){setValue(voteInput[<%=i%>], valueBox[<%=i%>], v)}, disabled:true});

            // Sync background color and slider to input value
            if(noOpinion[<%=i%>].checked) {
              valueBox[<%=i%>].innerHTML="X";
              valueBox[<%=i%>].style.backgroundColor="#ffffff";
            } else {
              value = voteInput[<%=i%>].value;
              setValue(voteInput[<%=i%>], valueBox[<%=i%>], value);
              sliderObject[<%=i%>].setEnabled();
            }
          </script>
        </td>
      </tr>
    <% end %>
    </table>

    <script language="javascript">
      function handleCheckboxClick(index, checked) {
        if (checked) {
          valueBox[index].innerHTML='X';
          valueBox[index].style.backgroundColor='#ffffff';
          sliderObject[index].setDisabled();
        } else {
          value = voteInput[index].value;
          setValue(voteInput[index], valueBox[index], value);
          sliderObject[index].setEnabled();
        }
      }

      formSubmitted = false;

      function validateForm() {
        if (formSubmitted) {
          return false;
        }

        name = $('voter_name').value;
        if (name == null || name == "" || name.match(/^\W+$/)) {
          alert("Please enter a name.");
          return false;
        }

        for(i=0; i<noOpinion.length; i++) {
          if(!noOpinion[i].checked) {
            return true;
          }
        }

        alert("You must have an opinion on something in order to vote!");
        return false
      }
    </script>

    Name: <%= text_field_tag "voter_name" %><br>
    <%= submit_tag "Vote" %>
  <% end %>
</p>
