<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
      "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag 'prototype', 'effects', 'dragdrop', 'controls',
        'slider', 'lowpro', 'email_decoder', 'application' %>
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        Vote!
      </div>
      <div id="sitenav">
        <ul>
          <li>
            <%= link_to "Home", :controller => :home, :action => :index %>
          </li>
          <li>
            <%= link_to "About", :controller => :home, :action => :show, :page => :about %>
          </li>
          <li>
            <%= link_to "Contact", :controller => :home, :action => :show, :page => :contact %>
          </li>
          <li>
            <%= link_to "Create a New Poll", :controller => :polls, :action => :new %>
          </li>
        </ul>
      </div>
      <div id="navlinks">
      </div>
      <div id="body">
        <%= @content_for_layout %>
      </div>
      <div id="footer">
        &copy;2008 <%= link_to "SuperDuperApps.com", "http://superduperapps.com" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &raquo;&nbsp;<%= mail_to "vote@superduperapps.com", "Feedback" %>
      </div>
    </div>
  </body>
</html>
